<a href="https://colab.research.google.com/github/Mr-Stark-18/SOC2k21-Project/blob/Python-Course/Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('/content/master.csv')

In [4]:
df = pd.DataFrame(data)

In [5]:
df.head()

   country  year  ... gdp_per_capita ($)       generation
0  Albania  1987  ...                796     Generation X
1  Albania  1987  ...                796           Silent
2  Albania  1987  ...                796     Generation X
3  Albania  1987  ...                796  G.I. Generation
4  Albania  1987  ...                796          Boomers

[5 rows x 12 columns]

In [6]:
df.count()

country               27820
year                  27820
sex                   27820
age                   27820
suicides_no           27820
population            27820
suicides/100k pop     27820
country-year          27820
HDI for year           8364
 gdp_for_year ($)     27820
gdp_per_capita ($)    27820
generation            27820
dtype: int64

In [7]:
df.count(axis=1)

0        11
1        11
2        11
3        11
4        11
         ..
27815    12
27816    12
27817    12
27818    12
27819    12
Length: 27820, dtype: int64

In [8]:
print(len(df.index))

27820

In [9]:
print(len(df.columns))

12

In [10]:
print(type(df.columns))

<class 'pandas.core.indexes.base.Index'>

In [11]:
list = np.array(df.columns)

In [12]:
list

array(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype=object)

In [13]:
for i in df.columns:
  print(type(df[i][1]))

<class 'str'>
<class 'numpy.int64'>
<class 'str'>
<class 'str'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.float64'>
<class 'str'>
<class 'numpy.float64'>
<class 'str'>
<class 'numpy.int64'>
<class 'str'>

In [14]:
print(df.nunique(axis=0))

country                 101
year                     32
sex                       2
age                       6
suicides_no            2084
population            25564
suicides/100k pop      5298
country-year           2321
HDI for year            305
 gdp_for_year ($)      2321
gdp_per_capita ($)     2233
generation                6
dtype: int64

In [15]:
for i in df.columns:
  print(len(df[i].index)-len(df[i].dropna().index))

0
0
0
0
0
0
0
0
19456
0
0
0

In [16]:
len(df.dropna().index)

8364